
// ESTILOS ESPECÍFICOS SERVICIOS //@at-root


body {
    section {
        
        h1 {
            margin-top: 50px;
            font-size: 24px;
            color: #344c7a;
            text-align: center;

        }

        div {
            
            h2 {
                font-size: 18px;
                color: #294780;
                margin: 15px;
            }

            p {
                font-size: 14px;
                color: rgb(66, 66, 66);
                margin: 15px;
            }
        }

    }

    


}